apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.redisServer }}
spec:
  selector:
    app: redis-server
  type: LoadBalancer
  ports:
    - name: redis-port
      protocol: TCP
      port: {{ .Values.redisPort }}
      targetPort: {{ .Values.redisPort }}